* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

   background: hsl(20, 100%, 99%);
   display: flex;
   flex-direction: column;
   color:white;
   height: 100%;
   font-family: 'Roboto', sans-serif;

}


/*Logo*/

#logo{
  width: 4.4em;
  margin: 9%;
  margin-left: 110%;
  padding-top: 1em;

}



.logofont{
  color: 	hsla(14, 94%, 22%, 0.97);
  display: flex;
  position: absolute;
  margin: 2em;
  margin-left: 10em;
  flex-flow: column-reverse;
  font-size: 19px;
  font-family: 'Dancing Script', cursive;

}

/* Seccion principal*/

.secc_principal img{

  width: 100%;
  transition: all 1s;

}

.secc_principal{

  width: 100%;



}

.secc_principal a{


  overflow: hidden;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.titdentro{

  position: absolute;
  bottom: 1.5rem;
  margin: 0 3rem;
  color: rgb(233, 235, 234);
  line-height: 1.5;
  font-size: 1.2rem;



}

.titdentro h1{
  font-size: 2rem;
  text-align: center;
  transition: color 0.3s ease;
}

.secc_principal a:hover > .titdentro > h1{

  color: rgba(255, 84, 0, 0.92);
}

.secc_principal img:hover{

  transform: scale(1.1);

}




/***********/

/* Menu navegacion Header*/

header {

    border-bottom: 0.2em solid #cc8a0a;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: hsl(0, 0%, 100%);
    position: sticky;
    top: 0;
    z-index: 2;

}

nav{
  display: flex;
  margin: 2.5% 10%;

}

.titulosnav{
  text-decoration: none;
  color: hsla(14, 94%, 22%, 0.97);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  padding: 1em;
  transition: color 0.9s;

}



.titulosnav:hover{.

  border-top-color: red;
  color: #cc8a0a;


}



/************/

/**** Final de Header ****/

/**Caja-principal***/

.caja-principal{


display: grid;
grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
background-color: rgb(51, 31, 15);
gap: 2em;
padding: 1.2em;
margin-top: 3rem;

}



.img-new{
max-width: 100%;
object-fit: cover;
cursor: pointer;
transition: transform .39s ease-out;


}
.img-new:hover{
  transform: scale(1.2);
  filter: blur(0.1rem);

}

.caja-principal-columna{

  overflow: hidden;
  position: relative;
  display: flex;



}

.textinside{
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: 400;
  bottom:0;
  margin: 1rem 2rem;
  font-size: 1.6rem;
  z-index: 1;
  /**opacity: 0;**/

}

.textinside p:first-child{

  background-color: black;
  color:rgba(255, 84, 0, 0.92);
  margin-bottom: 1rem;
  padding: 0.5rem;
  display: inline-block;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;

}

.textinside p:nth-child(2){

  transition: all 1s;
}

.caja-principal-columna:hover > .textinside p:nth-child(2){

  color: rgba(255, 84, 0, 0.92);
}


/*Articulo*/


.articulo{

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5% 2vw;
  font-family: 'Roboto', sans-serif;
  background-color: hsla(28, 83%, 88%, 0.87);
}

.columns{

flex-grow: 1;
background: rgb(212, 141, 101);
margin: 2em;
width: clamp(250px,20vw,1200px);
border: 0.2rem solid hsla(14, 94%, 22%, 0.97);





}

.inside-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background:blue;*/
  margin: 0 1rem;

}

.title-section{


  font-weight: 600;
  letter-spacing: 0.4rem;
  text-decoration: none;
  color: white;
  margin-top: 10%;
  margin-bottom: 5%;
  padding: 4%;
  position: relative;
  font-size: clamp(1.5rem,2vw,30px);
  /*background-color: red;*/



}

.title-section:after{

  content:"";
  position: absolute;
  bottom: 0;
  height: .14em;
  border-radius: 1em;
  left: 0;
  width: 0;
  transition: all .57s;


}

.title-section:hover::after{

  width: 100%;
  background-color: hsla(14, 94%, 22%, 0.97);
}



.circo{

width: 96%;



}

.images-items{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 10%







}

.images-items> p{

  margin-top: 10%;
  word-wrap: normal;
  border: .15em solid hsla(14, 94%, 22%, 0.97);
  background-color: hsla(28, 83%, 88%, 0.87);
  color: hsla(14, 94%, 22%, 0.97);
  padding: 5%;


}




/*****Video section*****/

.container-videos{

background: rgb(52, 49, 47);





}

.titlescontainer{
  display: flex;
  flex-direction: row;


}

.interiorcontainer-videos{
  background: black;
  display: flex;
  flex-direction: column;
  margin: 2% 5%;

}

.white-line-videos{


  border-top: 1px solid white;
}







/*********/

/*Footer*/

footer{
     background-color: hsla(13, 65%, 6%, 0.97);
     display: flex;
     flex-direction: row;
c



   }

   .pep{
     display: flex;
     flex-direction: column;
     padding: 4%;
     padding-left: 5%;
   }

   .abajo{
     display: flex;
     padding: 2%;
     margin-right: 4%;

   }

.subtitulos{
  color: white;
  font-size:  0.85em;
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-family: 'Merriweather Sans', sans-serif;
}

.minisub{
color: white;
font-family: 'Merriweather Sans', sans-serif;
font-size: 0.78em;
text-decoration: none;
}

.minisub:hover{
  color: rgba(255, 255, 255, 0.69);
}

/***********/

/*Subscripcion*/

.subs{

  padding: 1em;
  font-family: 'Roboto', sans-serif;
  margin: 2%;
  border-radius: 5%;
  color: white;


}

.subscrip{

  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;


}

#mail{

  padding: 0.7em;
  margin: 1em;
  border-radius: 1em;
  border: .12em solid black;
  text-decoration: none;
  outline: none;

}

.btn{
  background-color: rgba(255, 84, 0, 0.92);
  color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  padding: .77em;
  border-radius: 2em;
  outline: none;
  border: 1px solid #998263;


}

/*Final del Footer*/

/*Copyright e iconos de redes*/

.copy{
  padding: 0.9em;
  display: flex;
  justify-content: space-between;
  background-color: hsla(13, 65%, 6%, 0.97);

}

.social-icon{
  margin-left: 20%;
  width: 1.1em;
  transform: scale(1);
  transition: transform 0.2s;



}

.social-icon:hover{
  cursor: pointer;
  transform: scale(2);

}

.copyright{

color: #ffffff;
font-size: 0.67em;
font-family: 'Merriweather Sans', sans-serif;


}

.iconos-copyright{
  width: 30%;
  display: flex;
  filter: invert(100%);
  justify-content: space-evenly;


}

/**NOVEDADES**/

.novedades-title{

font-family: 'Roboto', sans-serif;
font-size: 2.5rem;
color: hsla(14, 94%, 22%, 0.97);
margin: 2em auto 2em;


}

.contenedorGif{

  display: grid;
  grid-template-columns: repeat(2, minmax(100px,1fr));
  background-color: rgba(255, 84, 0, 0.92);
  padding: 2rem;
  gap: 3em;

}

.gif{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: black;
  padding: 2em;


}




.scale{

  width: 100%;
  transition: all .3s ease-in-out;

}





.link-title{

  cursor: pointer;
  text-decoration: none;
  color: white;
  margin: 0.7rem 0;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;



}


.first{
  color: rgb(28, 101, 103);
}


.link-subtitle-category{

  color: rgb(221, 79, 0);
  display: inline-block;



}








/*Fin de Copyright*/

/*Media queries para Diseño responsive*/

@media screen and (max-width: 800px){

    #logo{
      width: 2.5em;

    }

    nav, .logofont{
      display: none;
    }

    .titdentro p{

      display: none;
    }





}

@media screen and (max-width: 500px){

  footer{flex-direction: column;}
  .subs{background-color: transparent;}

  .contenedorGif{
    grid-template-columns: 1fr;
  }

  .link-title{
    font-size: 19px;

  }


  }
}
